body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}

/* AUTH (Login & Register) */
.auth-container {
  width: 350px;
  margin: 100px auto;
  background: white;
  padding: 35px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.auth-container h2 {
  margin-bottom: 20px;
  color: #1e293b;
}

.auth-container input,
.auth-container select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.auth-container button:hover {
  background: #1d4ed8;
}

.switch-text {
  margin-top: 15px;
  font-size: 14px;
}

.switch-text span {
  color: #2563eb;
  cursor: pointer;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 14px;
}

/* NAVBAR */
.navbar {
  background: #020617;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar button {
  background: #2563eb;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
}

/* UPLOAD */
.upload-container {
  background: white;
  width: 70%;
  margin: 40px auto;
  padding: 25px;
  border-radius: 12px;
}

.error {
  color: red;
  font-size: 13px;
  margin: -6px 0 6px;
  text-align: left;
}

button.btn-disabled {
  background: #94a3b8;
  cursor: not-allowed;
}

.show-pass {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  margin-bottom: 10px;
  color: #334155;
}

/* PASSWORD EYE */
.password-box {
  position: relative;
}

.password-box input {
  width: 100%;
}

.eye {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
  font-size: 12px;
  color: #2563eb;
  font-weight: 600;
  user-select: none;
}


/* GOOGLE BUTTON */
.google-btn {
  width: 100%;
  padding: 10px;
  background: white;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 15px;
}

.google-btn:hover {
  background: #f1f5f9;
}

.divider {
  text-align: center;
  font-size: 12px;
  color: #64748b;
  margin-bottom: 15px;
}

.error {
  color: red;
  font-size: 13px;
  margin: 4px 0 8px;
  text-align: left;
}

.btn-disabled {
  background: #94a3b8;
  cursor: not-allowed;
}
